.sidebar{
    flex: 3;
    margin: 20px;
    padding-bottom: 30px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebariteam{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebartitle{
    margin: 10px;
    padding: 5px;
    width: 80%;
    border-top: 1px solid #a7a4a4;
    border-bottom: 1px solid #a7a4a4;
    font-family:'Varela Round', sans-serif;
    font-style: 12px;
    color: #222;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
}

.image{
    display: flex;
    width: 100%;
    margin-top: 15px;
}

.sidebariteam > p{
    padding: 30px;
    font-family:'Varela Round', sans-serif;
}

.sidebarlist{
    list-style: none;
    margin-bottom: 30px;
}

.sidebarlistiteam{
    display: inline-block;
    width: 50%;
    margin-top: 15px;
    cursor: pointer;
}

.sidebarsocial{
    margin-top: 15px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.sidebaricon{
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}